#header-full{
    display: flex;
    margin: 5% 0;
    height: 150px;

}
/*#header-column-left{*/
/*    display: inline-block;*/
/*    width: 80%;*/


/*}*/
/*#header-column-right{*/
/*    float: right;*/
/*    display: inline-block;*/
/*    width: 20%;*/


/*}*/

.header-title {

    width: 400px;
    height: 100px;
    transform: rotate(330deg);
    color: #1a536b;
    font-size: 30px;
    font-weight: bold;
    margin: 50px;
}

.header-button-todo {
    font-weight:bold;
    font-size:15px;
    margin: 50px;
    margin-left: 790px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: #03A9F4;
    color: white;
    text-align: center;
}


#section_body {
    display: flex;
    margin-left: 180px;

}

.section-main{
    display: block;
    width: 350px;
    height: auto;
    border: 0.5px solid black;

}

.section-main-title {
    display: block;
    border: 0.5px solid black;
    width: 350px;
    height: 70px;
    color: white;
    background-color: #41534D;
    font-family: "맑은 고딕 Semilight";
    font-size: 30px;

}

.main-contents{
    display: block;
    border: 0.5px solid black;
    width: 350px;
    height: 80px;
    background-color: #e0ffff;
}
.main-up{

}
.main-dawn{

}

.button-typechange{

}




